# VCS
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.mypy_cache/
.pytest_cache/
.coverage

# Envs
.env
.venv/
venv/

# Django
staticfiles/
media/

# OS/editor
.DS_Store
*.swp
.idea/
.vscode/

# Node (if any)
node_modules/
